html, body {
    overflow-x: hidden;
}

.mobiledisplay {
    display: none;
}

.navbarlogo {
    font-size: 1.5rem;
    margin-right: 10px;
}

.navpos {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navdisplay {
    height: 30px;
    background-color: red;
    outline: 1px solid rgb(180, 180, 180);
    margin-bottom: 1px;
}

.navbar-toggler {
    padding: 0.25rem;
    margin: 0.15rem;
    font-size: 0.875rem;
}

.navbar-toggler-icon {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.rollover:hover {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.outline {
    outline: 1px solid rgb(180, 180, 180);
}

.herotext {
    font-size: 5rem;
}

.hero {
    height: auto;
    margin-top: 100px;
}

.red-fire {
    color: red;
}

.content {
    height: auto;
    background-color: rgb(214, 214, 214);
    padding-top: 20px;
}

.card {
    height: 100%;
}

.card-title {
    padding-top: 10px;
    padding-bottom: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img {
    object-fit: cover;
}

.cardbodysize {
    height: auto;
}

.cardheadersize {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.cardtextsize {
    font-size: 12px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    outline: 0.5px solid rgb(59, 59, 59);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    font-weight: normal;
    font-size: 10px;
}

.footer p {
    margin: 0;
}

.footer-left {
    flex: 1;
    text-align: left;
}

.footer-right {
    flex: 1;
    text-align: right;
}

@media (max-width: 767.98px) {
    body {
        overflow-x: hidden !important;
    }

    .fulldisplay {
        display: none;
    }

    .mobiledisplay {
        display: block;
        margin: 0 auto;
    }

    .container {
        --bs-gutter-x: 0px !important;
        max-width: 100%;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .content {
        padding-top: 5px;
        padding-bottom: 50px;
    }

    .herotext {
        padding-top: 60px;
        font-size: 6rem;
    }

    .hero {
        height: auto;
        margin-top: 60px;
    }

    .welcometext {
        margin: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .cardheadersize {
        font-size: 2rem;
        color: rgb(0, 0, 0);
    }

    .cardtextsize {
        font-size: 0.8rem;
        margin-top: 10px;
        padding-bottom: 20px;
        text-align: left;
    }

    .cardbodysize {
        margin-top: 25px;
        margin-left: 4px;
        margin-right: 4px;
    }
}
